//
@import "partials/variables";
@import "partials/common";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  color: white;
  font-family: 'League Spartan', sans-serif;
}
main{
  background: $dark-grey;
}

header {
  padding: 0.7rem;
  div {
    @include flexed(row, space-between, center);
    font-weight: 600;
    font-size: 0.9rem;
    div {
      img {
        height: 80px;
      }
    }
    ul {
      list-style: none;
      li {
        display: inline;
        padding: 0 0.8rem;
        a {
          text-decoration: none;
          color: black;
          padding: 39px 0;
        }
        a.active {
          border-bottom: 5px solid $dc-blue;
          color: $dc-blue;
        }
      }
    }
  }
}

footer {
  background: url("/images/footer-bg.jpg");
  div {
    @include flexed(row, space-between, start);
    div.footer-list {
      margin-top: 1.5rem;
      div {
        @include flexed(column, start, start);
        h3 {
          text-transform: uppercase;
          padding: 1rem 0;
        }
        ul {
          list-style: none;
          margin-right: 2rem;
          li {
            font-size: 0.78rem;
            line-height: 1.3rem;
            color: rgb(148, 147, 147);
          }
        }
      }
    }
    div.dc-logo {
      height: 370px;
      width: 600px;
      background: url("/images/dc-logo-bg.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  div.footer-bottom {
    background-color: $footer-grey;
    div {
      @include flexed(row, space-between, center);
      padding: 0.5rem;
      div.footer-btn-wrapper {
        button {
          background-color: $footer-grey;
          border: 2px solid $dc-blue;
          padding: 0.8rem 1rem;
          font-weight: 600;
          color: white;
        }
      }
      div.footer-logos {
        color: $dc-blue;
        ul {
          list-style: none;
          li {
            display: inline;
            padding-left: 1rem;
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
div.my-jumbo {
  height: 500px;
  background: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
div.content-wrapper{
position: relative;
  div.abs-text {
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateY(-50%);
    background-color: $dc-blue;
    padding: 0.8rem 2.5rem;
  }
  div.card-wrapper{
    @include flexed(row, center, center);
    flex-wrap: wrap;
    padding: 4rem 0 0.8rem 0;
    div.card {
      @include flexed(column, center, start);
      width: calc((100% / 6) - 2.3rem);
      height: 350px;
      margin: 0 1.15rem;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        div.img-wrapper {
          height: 250px;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        h3 {
          padding-top: 1.5rem;
          color: white;
        }
      }
    }
    div.btn-wrapper {
      margin-top: 2rem;
      button {
        padding: 0.8rem 3.5rem;
        background-color: $dc-blue;
        font-weight: 600;
        color: white;
      }
    }
  }
}


nav.merchNav {
  background-color: $dc-blue;
  height: 100px;
  @include flexed(row, space-evenly, center);
  div {
    @include flexed(row, start, center);
    img {
      height: 50px;
    }
    h5 {
      padding-left: 0.5rem;
    }
  }
}

div.comic-wrapper{
  div.comic-img-wrapper{
    position: relative;
    height: 80px;
    background-color: $dc-blue;
    img {
      position: absolute;
      bottom: 25%;
      left: 19.7%;
      border: 1px solid white;
    }
  }
  div.comic-details-outer-wrapper{
    padding: 80px 0;
    background-color: white;
    div.comic-details-inner-wrapper{
      @include flexed(row, space-between, center);
      div.comic-details{
        margin-right: 50px;
        h1.comic-title{
          font-size: 2.5rem;
          color: $comic-title-blue;
          margin-bottom: 30px;
        }
        div.comic-price{
          @include flexed(row, space-between, center);
          background-color: rgb(85, 186, 89);
          color: white;
          margin-bottom: 25px;
          div.comic-price-inner{
            @include flexed(row, space-between, center);
            padding: 15px 25px;
            .text-green-faded{
              color: rgb(173, 247, 139);
              font-weight: bold;
            }
          }
        }
        p.comic-description{
          color: black;
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
    }
  }
  div.comic-bottom-details{
    background-color: rgb(246, 246, 246);
    color: black;
    border-top: 1px solid rgb(221, 218, 218);
    div.comic-bottom-inner{
      padding: 30px 0 100px 0;
      @include flexed(row, space-between, start);
      div.talent,
      div.specs {
        width: 48%;
        div,
        h2{
          border-bottom: 1px solid rgb(221, 218, 218);
        }
        div {
          padding: 12px 0 8px 0;
        }
      }
      div.talent{
        div{
          @include flexed(row, space-between, start);
          p.comic-blue{
            width: 70%;
          }
        }
      }
      div.specs{
        div{
          @include flexed(row, start, start);
          .comic-subtitle{
            width: 35%;
          }
        }
      }
      .comic-subtitle{
        color: $comic-title-blue;
      }
      .comic-blue{
        color: rgb(19, 171, 212);
      }
    }
    div.comic-merch{
      border-top: 1px solid rgb(221, 218, 218);
      div.comic-merch-inner{
        @include flexed(row, start, start);
        height: 90px;
        border-left: 1px solid rgb(221, 218, 218);
        div.single-comic-merch{
          @include flexed(row, space-between, start);
          width: 25%;
          padding: 20px;
          color: rgb(161, 158, 158);
          font-weight: 600;
          border-right: 1px solid rgb(221, 218, 218);
          div.comic-icon{
            background: url("/images/cta-icons.png");
            background-repeat: no-repeat;
            background-size: 400%;
            height: 49px;
            width: 50px;
          }
        }
        div.single-comic-merch:nth-child(2){
          div.comic-icon{
            background-position-x: 100%;
          }
        }
        div.single-comic-merch:nth-child(3){
          div.comic-icon{
            background-position-x: 67%;
          }
        }
        div.single-comic-merch:nth-child(4){
          div.comic-icon{
            background-position-x: 33%;
          }
        }
      }
    }
  }
}